<% provide(:title, "About") %>
<h1>About Tobi</h1>
<p>
I'm an information techology major, at DePaul University,Chicago, IL. Originally from Nigeria, I came to the United States as a foreign student with the goal of shaping my skills in the most technologically advanced country in the world. I have enjoy every bit of my stay in the U.S, both educationally and socially. With my degree, I plan on creating softwares and programs
that would make technology easily accessible throughout the world.
</p>
<h2>Click Contact link to contact me</h2>
<p><%= link_to "Contact", '/static_pages/contact' %></p>