<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact Tobi Abawonse:
  <ul>
   <li>By Email: <a href="mailto:Abawonse@gmail.com">Abawonse@gmail.com</a></li> 
            <br> 
  <li>By Phone: <a href="tel:779-703-1008">Call:7797031008</a></li>.
            </ul>
</p>