<% provide(:title, "Help") %>

<h1>Help!!!</h1>
<p>
 Help me to start my career by getting a job and you wouldn't be disappointed.
<h2>Letter of recommendation</h2>
<hr>
<ol>
  <li> <a href="/david.pdf"> Professor David Lee's Recommendation</a> </li>
  <li> <a href="/kat.pdf"> Katarina Winn's Recommendation</a> </li>
</ol>
</p>


