<footer class="footer">
  <small>
    This is <a href="https://thefreedstateofmind.blogspot.com/">My blog</a>
    and an <a href="http://studentweb.cdm.depaul.edu/~oabawons/scholarship/">HTML webpage designed by me.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '/static_pages/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
      
    </ul>
  </nav>
</footer>